header{
    background-color: aquamarine;
}
.header-class{
    display: flex;
    justify-content: space-between;
}
.search-class{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
